# Gradle
.gradle/
build/
out/
classes/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Minecraft / Forge
run/
logs/
crash-reports/

# Other
*.log
*.ctxt
.mtj.tmp/
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Ignore built JARs but keep Gradle wrapper
build/libs/*.jar
*.jar
!gradle/wrapper/gradle-wrapper.jar

